@import "tailwindcss";

@theme {
    --color-darkgray-100: #121212;
    --color-darkgray-95: #1E1E1E;
    --color-darkgray-80: #414141;
    --color-darkgray-50: #888888;
    --color-darkgray-35: #ACACAC;
    --color-lightorange: #F18F4E;
    --color-cobaltblue: #6677A2;
}

body {
    @apply bg-darkgray-100 text-neutral-100;
    font-family: Roboto, Arial;
}

button {
    @apply cursor-pointer
}

.triangle-down {
    @apply w-0 h-0 border-x-20 border-x-transparent border-t-20
}

.left-triangle {
    @apply w-0 h-0 border-y-20 border-y-transparent border-r-20
}