@import "tailwindcss";

@theme {
    --color-darkgray-100: #121212;
    --color-darkgray-97: #191919;
    --color-darkgray-80: #414141;
    --color-darkgray-50: #888888;
    --color-darkgray-35: #ACACAC;
    --color-lightorange: #F18F4E;
    --color-cobaltblue: #6677A2;
}

body {
    @apply bg-darkgray-100 text-neutral-100;
    font-family: Roboto, Arial;
}

button {
    @apply cursor-pointer
}

.downward-triangle {
    @apply w-0 h-0 border-l-20 border-l-transparent border-r-20 border-r-transparent border-t-20
}